body{
	background-color: white;
}

.navbar{
	height: 80px;
	font-size: 30px;
	background-color: black;
}

#navbar{
	background-color: black !important;
}

.beer-pic{
	height: 650px;
	width: auto;
	padding-top: 100px;
	padding-left: 200px;
}

#about-us{
	text-align: center;
	padding-top: 100px;
	padding-right: 250px;
	padding-left: 50px;
}

p{
	margin-top: 50px;
}