body{
	background-color: white;
}

.navbar{
	height: 80px;
	font-size: 30px;
	background-color: black;
}

#navbar{
	background-color: black !important;
}

.beer-pic{
	height: 450px;
	width: auto;
	padding-top: 100px;
}

#about-us{
	text-align: center;
	padding-top: 100px;
}