body{
	background-color: #14213d;
	width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    color: #e5e5e5;
}

.navbar{
	height: 80px;
	font-size: 30px;
	background-color: black;
}

#navbar{
	background-color: #14213d !important;
}

.header{
	height: 750px;
	width: 80%;
	background-size: 100%;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
	border-radius: 1%;
	color: #14213d !important;
}


.header-pic{
	height: 620px;
	width: auto;
	margin-top: 50px;
	border: 3px solid #14213d;
	border-radius: 6px;
	margin-right: auto;
	margin-left: auto;
}

.header-background{
	background-color:  #e5e5e5;
	color: black;
	width: 100%;
	margin: 0;
}

.title{
	color: #14213d;
	font-weight: 700;
	font-size: 50px;
	width: 700px;
	margin: 0 auto;
}

.location{
	color: white;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 100px;
	font-size: 20px;
	
}

#col-1{
	text-align: center;
	padding-top: 10px;
}

.beer-pic{
	height: 550px;
	width: 100%;
	margin: 0 auto 0 auto;
	border-radius: 3%;
	padding-bottom: 45px;
	padding-top: 30px
}

#col-2{
	background-color: #14213d;
	height: 550px;
	margin-top: 0;
	text-align: center;
	color: #e5e5e5;
	padding-bottom: 10px;
}

.people-pic{
	height: 550px;
	width: auto;
	margin: 0 auto;
}

h5{
	font-weight: 600;
	font-size: 25px;
}

#col-3{
	color: black;
	height: 550px;
	background-color: #e5e5e5;
}

#col-4{
	background-color: #e5e5e5;
	color: black;
}

.our-style{
	margin: 100px 75px;
}

.btn-secondary{
	margin-top: 40px;
	background-color: black;
}

.btn-secondary:hover{
	background-color: #424242;
}

#map {
  height: 350px;
  /* The height is 400 pixels */
  width: 450px;
  /* The width is the width of the web page */
  margin-bottom: 75px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #14213d;
  border-radius: 5%;
}

#location{
	text-align: center;
	color: white;
}

.location-text{
	text-align: center;
	margin: 50px 150px;
}

#location-header{
	text-align: center;
	font-size: 40px;
	margin-top: 100px;
}

footer{
	color: white;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
}

#btn-about-us{
	border:none;
}


